.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    font-size: 20px;  
    color: white;
    text-align: center;
    position: relative;
}
.intro #video-container{
    width: inherit;
    height: inherit;
    position: absolute;
    bottom: 0;
    align-content: center;
    overflow: hidden;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
}
.intro video{
    object-fit: cover;
    width: 100%;
}
.intro #p1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0;
}
.intro button{
    font-size: 1.2rem;
    background-color: rgb(253, 80, 94);
    outline: none;
    border-color: transparent;
    border-radius: 5px;
    padding: 1rem 7.5rem;
    color: white;
    font-weight: 500;
    margin-top: 15px;
}
.intro button:hover{
    background-color: rgb(250, 65, 80);
    
}

@media all and (max-width: 480px){
    .intro p{
        text-align: center;
        padding: 2px 5px 2px 5px;
        z-index: 10;
    }
    .intro{
        background-image: url("https://secure.meetupstatic.com/mu_static/en-US/still_0.8ba2300a.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .intro #video-container{
        background-color: rgba(73, 72, 72, 0.432);
        z-index: 1;
    }
    .intro video{
        display: none
    }
    .intro a{
        z-index: 100;
    }
    
}
@media all and (max-width: 1024px){
    
}